
body {background:#ddeaf0;}
header {width:700px; height:auto;  padding:5px; margin:0 auto; position:relative;}
figure { margin:0;}
section {width:650px; height:auto; background:#ffffff;  padding:30px; margin:0 auto; position:relative; border-radius:8px;
-moz-border-radius:8px; }
section nav { width:651px; height:50px;  padding:0px 0 10px; margin:0 auto; position:relative; }
section nav ul{ margin:0; padding:0; }

nav ul li{float:left; list-style-type:none; }
nav ul li a{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; margin:0; float:left; height:22px; width:140px;	}
ul#topnav { margin:0px 0px 0px 0px;	padding: 0 0 0 0;  }
#topnav a {background:url(topnav.gif); display:block;}
#topnav li a#topnav01{ width:141px; height:44px; background-position:0 0;}
#topnav li a#topnav02{ width:190px; height:44px; background-position:-141px 0;}
#topnav li a#topnav03{ width:137px; height:44px; background-position:-331px 0;}
#topnav li a#topnav04{ width:182px; height:44px; background-position:-468px 0;}

#topnav li a#topnav01:hover{ width:141px; height:44px; background-position:0 -50px;}
#topnav li a#topnav02:hover{ width:190px; height:44px; background-position:-141px -50px;}
#topnav li a#topnav03:hover{ width:137px; height:44px; background-position:-331px -50px;}
#topnav li a#topnav04:hover{ width:182px; height:44px; background-position:-468px -50px;}

#mainimage { width:651px; height:auto; margin:0 auto; position:relative; }

article {width:650px; height:auto;  padding:20px 0px; margin:0 auto; position:relative;}

h1 {font:bold 16px Arial, Helvetica, sans-serif;}
p { font:12px Arial, Helvetica, sans-serif; line-height:18px; }

footer {width:700px; height:auto;  padding:5px; margin:0 auto; position:relative;}
footer nav {padding:5px; margin:0 auto; position:relative; font:bold 12px Arial, Helvetica, sans-serif; color:#045d87; text-align:center;}
footer nav a{color:#045d87; padding:5px 10px; text-decoration:none; }
footer nav a:hover {color:#ffffff;	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; background-color:#679797;
 padding:5px 10px;}

#lbs2_hm_contentdiv1 { margin:5px 0 0 5px; width:630px; height:auto; border-bottom:1px solid #8db1b1; position:relative; padding:0 10px 10px 0; overflow:auto; float:left; z-index:100; }
#lbs2_hm_contentdiv2 { margin:5px 0 0 5px; width:630px; height:auto; position:relative; padding:15px 10px 0 0; overflow:hidden; float:none; z-index:100;}


#lbs2_nr_contentdiv1 {width:650px; height:auto; border-bottom:1px solid #8db1b1; position:relative; padding:0 0 20px 0;}
#lbs2_nr_contentdiv2 {width:650px; height:auto; position:relative; padding:20px 0 10px 0; color:#434746; font:12px Arial, Helvetica, sans-serif;  -moz-column-count:2; -webkit-column-count:2; column-count:2; -moz-column-gap:40px; -webkit-column-gap:40px; column-gap:40px; -moz-column-rule:1px dotted #90aeac; -webkit-column-rule:1px dotted #90aeac; column-rule:1px dotted #ff00ff; line-height:18px;}


#lbs2_contactus_contentdiv1 {width:650px; height:auto; border-bottom:1px solid #8db1b1; position:relative; padding:0 0 20px 0;}

#lbs2_reg_contentdiv1 {width:650px; height:auto; border-bottom:1px solid #8db1b1; position:relative; padding:0 0 20px 0;}




