body { 
bg-color:#c29a5f;
}
footer { 
width:800px; 
height:80px; 
background:url(images/footer_beans.png) no-repeat #480d09;
margin-left:auto;	
margin-right:auto;
}
section {
width:800px; 
margin:0 auto;
}
article { 
width:800px; 
height:600px;
}
h1 { 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:15px; 
font-weight:bold;	
color:#ffcf0d;
margin:0;
padding:18px 24px 0;
}
h2 { 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:13px; 
font-weight:bold;	
color:#D03626;
margin:0;
paddiing:18px 24px 0;
}
span {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px;  
font-weight:bold; 
color:#8b2521;
}
p:first-letter {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:16px; 
font-weight:bold; 
}
p.s1 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#FFFFFF;
margin:0px;
padding:10px 24px 0;
}
p.s2 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#FFFFFF;
margin:0px;
padding:15px 170px 15px 25px;
}
p.s3 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#6b1e1f;
margin:0px;
padding:10px 24px 0;
text-align:justify;
}
header { 
width:800px; 
margin-left:auto;	
margin-right:auto;
}
header nav {
width:800px; 
height:40px; 
background-color:#ac263e;
color:#fef8f0; 
}
footer nav {
width:800px; 
height:40px; 
color:#fef8f0; 
}
header ul {
width:500px; 
margin:0;
padding:0;
padding-top:13px;
float:right; 
list-style-type:none; 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px;	
font-weight:bold;
}
footer ul {
width:500px; 
float:right; 
list-style-type:none; 
margin: 0;
padding:0;
padding-top:47px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px;	
font-weight:bold;
}
header ul li, footer ul li {
float:left;
font-size:11px;	
font-weight:bold; 
margin:0;
color:#fef8f0; 
}
header ul li a, footer ul li a {
padding:8px;
color:#fef8f0; 
text-decoration:none;
}
li {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#5e2830;
margin:0px;
}

#hm_topleft {width:434px; height:300px; float:left;}

#hm_topright {width:366px; height:300px; float:left; background:#570401;  margin:0; overflow:hidden;}

#hm_topright figure {margin:0; width:321px; height:76px; padding:20px 22px 10px; z-index:1; position:absolute;}

#hm_content {width:800px; height:300px; margin:auto; float:left; background-color:#480d09;}

#hm_contentbox {width:750px; height:270px; margin:25px; background:#8b552f; border:1px solid #ffffff;}

#csc_contenttop {margin:0; width:800px; height:120px; overflow:hidden; float:left; position:relative; background:#570401;}

#csc_contenttop figure {width:321px; height:76px;  position:absolute; top:20px; right:20px; }

#csc_content {width:800px; height:450px; padding:0px 0px 30px 0; float:left; background-color:#480d09;}

#csc_contenthome {width:760px; margin:20px 20px; height:auto; border:1px solid #ffffff; background:#8b552f;}

#csc_contenthomehistory {	width:600px; height:auto; padding:20px;}
	
#csc_historyofcoffee {width:720px; height:260px; padding:0px 20px; background:url(images/img_section_customerservices.png) no-repeat right #cfbd78; color:#480d09;  }

#pp_contenttop {margin:0; width:800px; height:120px; overflow:hidden; float:left; position:relative; background:#570401;}

#pp_contenttop figure {width:321px; height:76px;  position:absolute; top:20px; right:20px;}

#pp_content {width:800px; height:450px; padding:0px 0px 30px 0; float:right; background-color:#480d09;}

#pp_contenthome {width:760px; margin:20px 20px; height:auto; border:1px solid #ffffff; background:#8b552f;}

#pp_historyofcoffee {width:180px; height:450px; padding:0px; background:url(images/img_section_gourmetbeans.jpg) no-repeat; color:#480d09;}

#pp_contenthomehistory {	width:570px; height:440px; padding:5px; float:right; background:#cfbd78;}

