

BODY { 
      font-size: 10pt; 
      border: 4px ridge yellow;
      background-image: url(ideatop.gif); 
      background-repeat: repeat-x;
      font-family: verdana;  }

IMG  {
      border-bottom: 4pt double #006666;
      position: absolute; 
      left: 8px; 
      top: 46px; }

.text {
      margin-left: 3in; 
      background-color: yellow; 
      height: 100px; 
      width: 160px; 
      position: absolute; 
      top: 2.2in; 
      left: 5em;
      border: 3px ridge red;
      padding: 5px }

.prompt {
     font-size: 12pt; 
     color: #336666;
     font-family: impact;  
     cursor: e-resize; }

.space {
     position: absolute;
     left: 1.6in;
     margin-top: -25px; }

.prehead { 
     position: absolute; 
     top: -3mm; 
     left: 2px;
     font-size: .4em; 
     color: black; 
     letter-spacing: 1px;
     font-family: impact; }


.q {
     color: rgb(188,0,0);
     font-size: 1em }
	

.heading {
     position: absolute; 
     top: .7in; 
     left: 1.7in;
     font-size: 55pt; 
     font-weight: bold; 
     letter-spacing: -5px; 
     color: steelblue;
     font-family: impact;  }

.form {
     padding-left: .4in; 
     margin-top: 164px; 
     border-top: 4pt double #006666;
     padding-top: 2em; }

INPUT { 
     background-color: lightsteelblue }

.title { 
     text-decoration: underline;
     font-weight: bold;
     color: black; 
     }

.redtext {
     color: rgb(188,0,0);
     font-weight: bold;
     margin-left: 9px }
