     /* Enter your link styles here */

















     



/* Don't change or modify the following rules */

     BODY {     background-image: url(404bg.gif) }

     .top  {    font-family: sans-serif;
                font-size: 10pt;
                color: navy;
                font-weight: bold;
                padding-top: 10px }

     .text {    font-family: sans-serif;
                font-size: 10pt;
                color: navy }

     .margin {  padding-left: 2in; 
                margin-top: -1in }

     .subhead { font-family: sans-serif; 
                font-size: 11pt;
                font-weight: bold }

     .heading { font-family: sans-serif;
                font-size: large;
                font-weight: bold; }

     .nav {     font-family: arial, sans-serif;
                font-weight: bold;
                font-size: 8pt }
