
  BODY { 
        background-image: url(whitetop.gif); 
        color: #FFFFFF }

  .logo { 
        position: absolute; 
        left: 0%; 
        top: 0% }

  .main { 
        font-family: verdana, arial, sans-serif; 
        font-size: .8pc;
        margin-right: 1.5in;
        margin-top: .5in;
        margin-left: 1.5in;
        padding-bottom: 5px;
        border-bottom: 2px ridge silver }

  .list { 
        margin-top: .1in;
        margin-left: 2.2in;
        font-family: verdana, arial, sans-serif;
        font-size: 10pt; 
        padding-left: 10px; }

  .nav { 
        font-family: verdana, arial, sans-serif; 
        font-weight: bold;
        font-size: 10pt; 
        margin-top: .2in;
        margin-left: 28%; 
        width: 271px }

  a:hover { 
        background-color: silver }

  a:link { 
        color: white }

  a:active { 
        color: lightsteelblue }

  a:visited { 
        color: white }

  a { 
        text-decoration: none }

  li { 
        font-weight: bold; 
        line-height: 14pt;
        list-style-type: square  }

	