<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- TODO: add in annotation-driven element -->

	<bean id="javatunesDataSource" 
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		  <property name="driverClassName"
					value="org.apache.derby.jdbc.ClientDriver"/>
		  <property name="url"
					value="jdbc:derby://localhost:1527/JavaTunesDB"/>
		  <property name="username" value="guest"/>
		  <property name="password" value="password"/>
	</bean>

	<bean id="javatunesSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="javatunesDataSource"/>

		<property name="mappingResources">
			<list>
			  <value>com/javatunes/persist/MusicItem.hbm.xml</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
               <prop key="hibernate.connection.pool_size">1</prop>
      
      <!-- Disable the second-level cache  -->
              <prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>

      <!-- Echo all executed SQL to stdout -->
             <prop key="hibernate.show_sql">true</prop>     

      		<!-- Hibernate Thread local contextual sessions NOT USED with Spring tx-->    
      		<!-- 
             <prop key="hibernate.current_session_context_class">thread</prop>
            -->         				
			</props>
		</property>
		
	</bean>

	<bean id="musicItemDAO" class="com.javatunes.persist.HibernateMusicItemDAO">
		<property name="sessionFactory" ref="javatunesSessionFactory"/>
	</bean>
	
	<bean id="itemService" class="com.javatunes.service.ItemServiceImpl">
	    <property name="dao" ref="musicItemDAO"/>
	</bean>	
	
	<!-- TODO: Add in the transaction manager bean -->



</beans>